<%= form_for(@script) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :has_input %>
    <%= f.check_box :has_input %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
