<%= form_for(@number) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number, class: "input disabled", disabled: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
